<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="1" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Shop Online</a></li>
      <li><a routerLink="/cupcakes">Cupcakes</a></li>

        <li>
          <a>Custom Orders</a>
          <ul class="p-2">
            <li><a>Weddings</a></li>
            <li><a>Birthday Parties</a></li>
          </ul>
        </li>
        <li><a>About Me</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" routerLink="/home">Kay's Confections </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/shop">Shop Online</a></li>
      <li>
        <details>
          <summary>Custom Orders</summary>
          <ul class="p-2">
            <li><a routerLink="/customOrders">Weddings</a></li>
            <li><a routerLink="/customOrders">Birthday Parties</a></li>
          </ul>
        </details>
      </li>
      <li><a routerLink="/aboutme">About Me</a></li>
      <li><a routerLink='/testimony'>Testimonies</a></li>
      <li><a routerLink='/faq'>FAQ</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn" routerLink="/cart">Cart</a>
  </div>
</div>
<div class="divider"></div> 


<router-outlet></router-outlet>
<div class="divider"></div> 
<footer class="footer pt-12 bg-base-100 text-base-content">
  <nav>
    <header class="footer-title">Services</header> 
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </nav> 
  <nav>
    <header class="footer-title">Company</header> 
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </nav> 
  <nav>
    <header class="footer-title">Legal</header> 
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </nav> 
  <form>
    <header class="footer-title">Newsletter</header> 
    <fieldset class="form-control w-80">
      <label class="label">
        <span class="label-text">Enter your email address</span>
      </label> 
      <div class="join">
        <input type="text" placeholder="username@site.com" class="input input-bordered join-item" /> 
        <button class="btn btn-primary join-item">Subscribe</button>
      </div>
    </fieldset>
  </form>
</footer>