
<div class="bg-base-200 pb-56 pt-24">
    <h2 class="text-center underline pb-12 text-5xl">Testimonies</h2>
<div class="flex flex-row items-center justify-center gap-12 ">
    <div class="flex flex-col items-center justify-center">
<div>Samantha Ladounski</div>
<div>11-19-2023</div>
<div class="rating">
  <input type="radio" name="rating-4" class="mask mask-star-2 bg-primary" />
  <input type="radio" name="rating-4" class="mask mask-star-2 bg-primary" />
  <input type="radio" name="rating-4" class="mask mask-star-2 bg-primary" />
  <input type="radio" name="rating-4" class="mask mask-star-2 bg-primary" />
  <input
    type="radio"
    name="rating-4"
    class="mask mask-star-2 bg-primary"
    checked
  />
</div>
<div>The Cake was amazing!</div>
<div class="h-24 w-24">
<img class="mask mask-decagon" src="../../assets/images/pexels-kshkt-kttk-887853.jpg" />
</div>
</div>


<div class="flex flex-col items-center justify-center w-36">
    <div>Andrew M.</div>
    <div>10-28-2023</div>
    <div class="rating">
      <input type="radio" name="rating-4" class="mask mask-star-2 bg-primary" />
      <input type="radio" name="rating-4" class="mask mask-star-2 bg-primary" />
      <input type="radio" name="rating-4" class="mask mask-star-2 bg-primary" />
      <input type="radio" name="rating-4" class="mask mask-star-2 bg-primary" />
      <input
        type="radio"
        name="rating-4"
        class="mask mask-star-2 bg-primary"
        
      />
    </div>
    <div class=" break-all">My wife and i loved our wedding cake!</div>
    <div class="h-24 w-24">
    <img class="mask mask-decagon" src="../../assets/images/weddingCakeStock.jpg" />
    </div>
    </div>
</div>

 
</div>
  
