<h2 class="text-5xl text-center pb-12 underline">Online Orders</h2>

<div class="w-1/2 m-auto">
<div class="diff aspect-[16/9]">
  <div class="diff-item-1">
    <img alt="daisy" src="../../assets/images/KaysCupcakes1.jpg" />
  </div>
  <div class="diff-item-2">
    <img alt="daisy" src="../../assets/images/KaysCupCakes2.jpg" />
  </div>
  <div class="diff-resizer"></div>
</div>
</div>



<div class="flex place-content-center bg-base-100 space-x-4">
    <div class="card w-96 bg-base-100 shadow-2xl">
      <figure class="px-10 pt-10">
        <img src="../../assets/images/customCakeStock.jpg" alt="Shoes" class="rounded-xl" />
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title">Custom Orders</h2>
        <!-- <p>For That Special Someone</p> -->
        <div class="card-actions">
          <button class="btn btn-primary">Order Now</button>
        </div>
      </div>
    </div>

      <div class="card w-96 bg-base-100 shadow-2xl">
        <figure class="px-10 pt-10">
          <img src="../../assets/images/weddingCakeStock.jpg" alt="Shoes" class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">Cakes</h2>
          <!-- <p>For That Special Someone</p> -->
          <div class="card-actions">
            <button class="btn btn-primary">Order Now</button>
          </div>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-2xl">
        <figure class="px-10 pt-10">
          <img src="../../assets/images/KaysCupcakes1.jpg" alt="Shoes" class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">Cupcakes</h2>
          <!-- <p>For That Special Someone</p> -->
          <div class="card-actions">
            <a routerLink="/cupcakes" class="btn btn-primary" >Order Now</a>
          </div>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-2xl">
        <figure class="px-10 pt-10">
          <img src="../../assets/images/holidayCookies.jpg" alt="Shoes" class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">Holidays</h2>
          <!-- <p>For That Special Someone</p> -->
          <div class="card-actions">
            <button class="btn btn-primary">Order Now</button>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>