
  <div class="hero min-h-screen bg-base-200 pb-10">
    <div class="hero-content flex-col lg:flex-row">
    <div class="hero-content carousel rounded-box  w-1/2">
          <div class="carousel-item w-1/2">
            <img src="../assets/images/KaysCupcakes1.jpg" alt="Burger" />
          </div> 
          <div class="carousel-item w-1/2">
            <img src="../assets/images/KaysCupCakes2.jpg" alt="Burger" />
          </div> 
          <!-- <div class="carousel-item w-1/2">
            <img src="../assets/images/KaysCupCakes3.jpg" alt="Burger" />
          </div> -->
    </div>
    <div>
        <h1 class="text-5xl font-bold">Kay's Monthly Specials!</h1>
        <p class="py-6">Indulge in sweetness with our Monthly Specials,
           a curated selection of delectable treats crafted with the finest ingredients,
           each month bringing a new and exciting flavor experience to satisfy your cravings.</p>
        <button class="btn btn-primary">Discover Flavors</button>
      </div>
    </div>
  </div>
  
  
  <app-shop></app-shop>
 <app-testimony></app-testimony>
 <app-faq></app-faq>
  <!-- <app-photogallery></app-photogallery> -->
  
  
  
     
  
  
 